<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans:wght@300&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../../image/Icones/Favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/sobre/sobre.css">
  <title>Blindfold Society</title>
</head>
<body>
    <header class="menu-principal">
        <div class="logo">
          <a href="../../index.html">
          <img src="../../image/Icones/DogBFS.png" alt="" class="LogoDog">
          </a>
        </div>
        <div class="navigation">
          <button class="btn">Sobre</button>
          <button class="btn">Membros</button>
          <a href="https://discord.gg/7nkdUM27MV" target="_blank">
            <img class="discord" src="../../image/Icones/Navigation/iconeDC2.png" alt="Discord">
          </a>
        </div>
      </header>

      <main class="content">
        <section class="menu-2">
          <div class="nav2">
            <a href="../../index.html">Home</a>
            <a href="#">Lore</a>
            <a href="#">Mantos</a>
            <a href="#">Galeria</a>
          </div>
          <div class="nav-2">
            <button class="btn2">Faça Parte</button>
          </div>
        </section>
      </main>

        <section class="lore">
          <div class="cont-center">
           <div class="start">
            <h1 class="tittle-lore">A Blindfold</h1>
            <p class="mistico texto-lore">Nós somos uma Guild criada exclusivamente para o <a class="linker" href="https://ravendawn.online/pt/" target="_blank">Ravendawn</a>, e aqui você poderá encontrar uma comunidade realmente disposta a te ajudar a crescer e evoluir dentro do jogo, afinal estamos 100% focados nisso.</p><br>

            <p class="mistico texto-lore">Organização com planilhas, análises de arquétipos, vídeos de estratégias e repartições internas na guild para você se encaixar no seu estilo de jogo, isso e muito mais você vai poder usufruir ou até mesmo ajudar a construir.</p><br>

            <p class="mistico texto-lore">E o mais importante de tudo, você encontrará um ambiente onde será acolhido e respeitado independente de quem você seja, como uma verdadeira família deve ser, isso eu te garanto.</p><br>

              <div class="photo">
                <img class="Ph1" src="../../image/Slid/Blindfold-2.png" alt="Foto da Guilda">
              </div><br>

              <h1 class="tittle-lore">Tipos de Players</h1>
             <p class="mistico texto-lore">A Blindfold Society é composta por ferreiros, exploradores, mercenários e caçadores dos mais diversos tipos, e é claro que você vai se encaixar aqui de alguma forma.

             Para quem gosta de um PVP a Guilda se mostrará uma escolha ideal, pois possui uma equipe que é totalmente focada nisso, que compartilha ideias e treina junto para que na hora do combate os membros possam estar alinhados no que fazer no momento certo.
              
             E Para quem curte explorar e craftar será muito bem vindo aqui também, afinal amamos o sentimento de um explorador ao descobrir coisas novas, e admiramos a paciência dos ferreiros e especialistas em profissões, vocês serão parte crucial da nossa Sociedade.
              
              De forma alguma iremos apoiar qualquer tipo de POWER ABUSE e o membro será punido por essa ação.</p><br>

              <div class="photo">
                <img class="Ph1" src="../../image/Slid/Blindfold-5.png" alt="Foto da Guilda">
              </div><br>

              <h1 class="tittle-lore">Casual & Hardcore</h1>
              <p class="mistico texto-lore">Existem Jogadores que podem dedicar mais tempo ao jogo e outros um pouco menos, e aqui isso não será problema. Todos os membros serão cobrados de uma certa forma, para que se mantenha a ordem, mas obviamente não iremos te expulsar por não logar, e não iremos igualar um membro hardcore a um casual em cobrança, porque aqui, ANTES DE TUDO, somos uma família e vamos procurar entender todos os casos.</p><br>
              
              <div class="photo">
                <img class="Ph1" src="../../image/Slid/reunidos.png" alt="Foto da Guilda">
              </div><br>

              <h1 class="tittle-lore">Suporte</h1>
              <p class="mistico texto-lore L1">A Staff da Blindfold vai procurar trazer sempre material atualizado para que nossa Sociedade esteja sempre à frente em informação e conteúdo e para isso temos um discord para gerenciar, marcar eventos e informar todos os membros, e claro, o pessoal vai te ajudar sempre que você precisar.</p>
            </div>
         </div>
        </section>

        <footer class="rodape">
          <div>
            <img class="imgFooter itemF" width="180px" height="170px" src="../../image/ImgP.png" alt="Blindfold">
          </div>
          <div class="creditos item2">
            <div class="copi">
              <span>&#169;</span>Blindfold.S
            </div>
            <div class="dcd">
              <a href="https://discord.gg/7nkdUM27MV" target="_blank">Discord</a>
              <img class="DCf" src="./image/Icones/Navigation/iconeDC2.png" alt="">
            </div>
          </div>
        </footer>
      
</body>
</html>