@import "../../function/reset.scss";

@media(min-width: 1026px){
    body{
        font-family: 'Roboto', sans-serif;
        height: 100%;
        background-color: #5f1212;
    
        .mistico{
            font-family: 'josefin sans';
            font-size: 18px;
        }
        .linker{
            font-size: bold;
            font-style: italic;
            color: aqua;
            text-decoration: none;
        }
    }
    //Sessão do conteudo principal.
    .menu-principal{
            width: 100%;
            background-color: #262930;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 25px;
            border-bottom: 3px groove darkgray;
            height: 12vh;
    
        .LogoDog{
            width: 120px;
            height: 120px;
            margin-left: 15vh;
            cursor: pointer;
        }
    
        .discord{
            width: 65px;
            height: 65px;  
        }
    
        .navigation{
            height: 100%;
            display: flex;
            align-items: center;
            gap: 5vh;
            width: 30%;
            margin-right: 5vh;
            
    
            .btn{
                font-size: 18px;
                color: whitesmoke;
                height: 5vh;
                width: 15vh;
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: 0.5s;
    
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
    .content{
        border-bottom: 1px solid white;
        height: 12vh;
        background-color: #707070;
    
        .menu-2{
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0px 15px;
    
            .nav2{
                color: lightgray;
                width: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 22px;
                margin-left: 20px;
    
                a{
                    text-decoration: none;
                    color: lightgray;
                    transition: 0.5s;
    
                    &:hover{
                        font-weight: bold;
                        transform: scale(1.1);
                        color: whitesmoke;
                    }
                }
            }
        }
    
        .nav-2{
            width: 35%;
            display: flex;
            align-items: center;
    
            .btn2{
                font-weight: bold;
                font-size: 18px;
                height: 7vh;
                width: 22vh;
                border-radius: 1vh;
                background-color: lightgray;
                border: none;
                box-shadow: 0 0 15px lightslategray;
                margin-left: 53%;
                cursor: pointer;
                transition: 1s;
    
                &:hover{
                    box-shadow: inset 0 0 10px black;
                }
            }
        }
    }
    .lore{
        display: flex;
        justify-content: center;
        margin-top: 2px;
        //border: 1px solid aqua;
        .cont-center{
            display: flex;
            justify-content: center;
            width: 95%;
            //border: 1px solid red;
        .start{
            width: 90%;
            text-align: center;
            color: white;
            border: 10px double rgb(144, 12, 12);
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5));
            padding: 3vh 7vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            .tittle-lore{
                width: 30%;
                margin-bottom: 5vh;
                padding: 2vh;
                border-bottom: 1px solid white;
                font-family: 'roboto';
            }
            .texto-lore{
                padding: 0vh 20vh;
                font-size: 20px;
            }
            .photo{
                margin-top: 5vh;
                .Ph1{
                    width: 80%;
                }
                
            }
            .L1{
                margin-bottom: 5vh;
            }
        }
      }
    }
    //Area do Rodape
    .rodape{
        color: white;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0 0 20px black;
    
        .itemF{
            margin-top: 20px;
            border-bottom: 1px solid white;
            width: 35vh;
        }
        .creditos{
            width: 33vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .copi{
                text-shadow: 0 0 15px #707070;
                border-right: 1px solid white;
                padding: 5px;
            }
            .dcd{
                font-weight:bolder;
                font-size: 18px;
                text-align: center;
                margin-right: 25px;
                display: flex;
                margin-left: 10px;
                
                a{
                    text-decoration: none;
                    color: aquamarine;
                }
                .DCf{
                    height: 12px;
                    width: 12px;
                }
            }
        }
      }

}