<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans:wght@300&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/Mantos/mantos.css">
    <link rel="shortcut icon" href="../../image/Icones/Favicon/favicon.ico" type="image/x-icon">
    <title>Blindfold Society - Mantos</title>
</head>
<body>
    <header class="menu-principal">
        <div class="logo">
          <a href="../../index.html">
          <img src="../../image/Icones/DogBFS.png" alt="Imagem do dog" class="LogoDog">
          </a>
        </div>
        <div class="navigation">
          <button class="btn" onclick="location.href='../../View/Sobre/sobre.html'">Sobre</button>
          <button class="btn">Membros</button>
          <a href="https://discord.gg/7nkdUM27MV" target="_blank">
            <img class="discord" src="../../image/Icones/Navigation/iconeDC2.png" alt="Discord">
          </a>
        </div>
      </header>

      <main class="content">
        <section class="menu-2">
          <div class="nav2">
            <a href="../../index.html">Home</a>
            <a href="#">Lore</a>
            <a href="#">Mantos</a>
            <a href="#">Galeria</a>
          </div>
          <div class="nav-2">
            <button class="btn2">Faça Parte</button>
          </div>
        </section>
      </main>

      <section class="content-manto">
        <div class="items">
         <div class="explanatory-text mistico">
          <h1 class="tittle">O que são os Mantos?</h1>
          <p>A Blindfold é composta por jogadores de varios estilos. Desde aqueles que gostam de ficar em suas fazendas cultivando à aqueles que amam um pelego nas regiões perigosas do deserto escaldante de Hadarak. Nisso viu-se a necessidade de criar os mantos, para ter um melhor direcionamento do estilo de jogo do player e o colocar para jogar e se divertir com outros cujo estilo de jogo seja equivalente ao seu.</p><br>
          <p>Com essa definição em mente os lideres da Blindfold decidem criar os <span class="emphasis">Mantos</span> possuindo assim uma ordem referente a cada estilo de jogo de seus integrantes:
          <ul class="list-mantos">
            <li class="emphasis">Manto Vermelho</li>
            <li class="emphasis">Manto Azul</li>
            <li class="emphasis">Manto Verde</li>
          </ul>
         </p>

        </div>
       </div>
      </section>
</body>
</html>